@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #FCFAF5;
  color: #2D2A25;
}

h1, h2, h3, h4 {
  font-family: 'Fraunces', serif;
  color: #1A5553;
}
